In [3]:
import pandas as pd

In [4]:
data = pd.read_csv("thanksgiving.csv", encoding="Latin-1")

In [5]:
yes_and_nos = data["Do you celebrate Thanksgiving?"].value_counts()
print(yes_and_nos)

Yes    980
No      78
Name: Do you celebrate Thanksgiving?, dtype: int64

In [6]:
y_and_n = data["Do you celebrate Thanksgiving?"]
clean_data = data[y_and_n == "Yes"]

In [7]:
dish_count = clean_data["What is typically the main dish at your Thanksgiving dinner?"].value_counts()
print(dish_count)

Turkey                    859
Other (please specify)     35
Ham/Pork                   29
Tofurkey                   20
Chicken                    12
Roast beef                 11
I don't know                5
Turducken                   3
Name: What is typically the main dish at your Thanksgiving dinner?, dtype: int64

In [20]:
dish_data = clean_data["What is typically the main dish at your Thanksgiving dinner?"]
tofurkey_rows = clean_data[dish_data == "Tofurkey"]
gravy_n_tofurkey = tofurkey_rows["Do you typically have gravy?"]
print(gravy_n_tofurkey)

4      Yes
33     Yes
69      No
72      No
77     Yes
145    Yes
175    Yes
218     No
243    Yes
275     No
393    Yes
399    Yes
571    Yes
594    Yes
628     No
774     No
820     No
837    Yes
860     No
953    Yes
Name: Do you typically have gravy?, dtype: object

In [9]:
apple_isnull = clean_data["Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Apple"].isnull()
pumpkin_isnull = clean_data["Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pumpkin"].isnull()
pecan_isnull = clean_data["Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pecan"].isnull()

ate_pies = (apple_isnull & pumpkin_isnull & pecan_isnull).value_counts()
print(ate_pies)

False    876
True     104
dtype: int64

In [10]:
def fix_ages(age):
    result = None
    if pd.isnull(age):
        result = None
    elif age == "60+":
        result = 60
    else:
        new_age = age.split(" ")
        result = int(new_age[0])
    return result

In [33]:
clean_data["int_age"] = clean_data["Age"].apply(fix_ages)
clean_data["int_age"].describe()

/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

count    947.000000
mean      40.089757
std       15.352014
min       18.000000
25%       30.000000
50%       45.000000
75%       60.000000
max       60.000000
Name: int_age, dtype: float64

Careful using the age data because it's kinda a hack - not ppl's real ages, but rather proxies for a category.

In [12]:
def fix_income(income):
    result = None
    if pd.isnull(income):
        result = None
    elif income == "Prefer not to answer":
        result = None
    else:
        split_income = income.split(" ")
        first_item_income = split_income[0]
        cleaned_income = first_item_income[1:].replace(",","")
        result = int(cleaned_income)
    return result

In [34]:
clean_data["int_income"] = clean_data["How much total combined money did all members of your HOUSEHOLD earn last year?"].apply(fix_income)
print(clean_data["int_income"].value_counts())
clean_data["int_income"].describe()

25000.0     166
75000.0     127
50000.0     127
100000.0    109
200000.0     76
10000.0      60
0.0          52
125000.0     48
150000.0     38
175000.0     26
Name: int_income, dtype: int64

/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

count       829.000000
mean      75965.018094
std       59068.636748
min           0.000000
25%       25000.000000
50%       75000.000000
75%      100000.000000
max      200000.000000
Name: int_income, dtype: float64

In [35]:
under_50 = clean_data[int_income < 50000]
over_150 = clean_data[int_income > 150000]

In [36]:
print(under_50["How far will you travel for Thanksgiving?"].value_counts())

Thanksgiving is happening at my home--I won't travel at all                         106
Thanksgiving is local--it will take place in the town I live in                      92
Thanksgiving is out of town but not too far--it's a drive of a few hours or less     64
Thanksgiving is out of town and far away--I have to drive several hours or fly       16
Name: How far will you travel for Thanksgiving?, dtype: int64

In [37]:
print(over_150["How far will you travel for Thanksgiving?"].value_counts())

Thanksgiving is happening at my home--I won't travel at all                         49
Thanksgiving is local--it will take place in the town I live in                     25
Thanksgiving is out of town but not too far--it's a drive of a few hours or less    16
Thanksgiving is out of town and far away--I have to drive several hours or fly      12
Name: How far will you travel for Thanksgiving?, dtype: int64

In [40]:
clean_data.pivot_table(index="Have you ever tried to meet up with hometown friends on Thanksgiving night?", columns='Have you ever attended a "Friendsgiving?"', values="int_age")

Have you ever attended a "Friendsgiving?"                  No        Yes
Have you ever tried to meet up with hometown fr...
No                                                  42.283702  37.010526
Yes                                                 41.475410  33.976744

In [41]:
clean_data.pivot_table(index="Have you ever tried to meet up with hometown friends on Thanksgiving night?", columns='Have you ever attended a "Friendsgiving?"', values="int_income")

Have you ever attended a "Friendsgiving?"                     No           Yes
Have you ever tried to meet up with hometown fr...
No                                                  78914.549654  72894.736842
Yes                                                 78750.000000  66019.736842